/BADSPEngine.idb
/Analyzer.obj
/BADSPEngine.log
/BADSPEngine.pdb
/ClipDetection.obj
/Engine.obj
/FilterBank.obj
/FourtoTwoChannelMixer.obj
/Passthrough.obj
/RMS.obj
/Selector.obj
*.Build.CppClean.log
